{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container-fluid vh-100">

    <div class="row h-100">

        <!-- LEFT SECTION -->

        <div class="col-lg-6 left-section d-flex flex-column justify-content-center align-items-center">

            <div class="logo-wrapper">
                <div class="sun-rays"></div>

                <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo">
            </div>

            <h1>Pratyush Advertising</h1>

            <p>Smart Business Management Portal</p>

        </div>

        <!-- RIGHT SECTION -->

        <div class="col-lg-6 d-flex justify-content-center align-items-center">

            <div class="login-card">

                <h2>Welcome Back 👋</h2>

                <p>Please login to continue</p>

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="alert alert-danger">
                            {{ messages[0] }}
                        </div>
                    {% endif %}
                {% endwith %}

                <!-- LOGIN FORM -->

                <form action="/login" method="POST">

                    <div class="mb-3">

                        <label>Email</label>

                        <input
                            type="email"
                            name="email"
                            class="form-control"
                            placeholder="Enter Email"
                            required>

                    </div>

                    <div class="mb-4">

                        <label>Password</label>

                        <input
                            type="password"
                            name="password"
                            class="form-control"
                            placeholder="Enter Password"
                            required>

                    </div>

                    <button type="submit" class="btn login-btn w-100">

                        Login

                    </button>
                    
                    <div class="demo-login">

                        <p>For Demo Purpose</p>

                        <a href="{{ url_for('demo_login') }}">
                        Click here to Login as Demo Admin
                        </a>

                    </div>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}